@{ Layout = "_Layout"; }

@model HairSalon.Models.Stylist

<h5>New Client: </h5>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.Hidden("StylistId", @Model.StylistId);

    <input type="submit" value="Add new client" class="btn btn-default" />
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>